body{
	background-image:url("../img/bg.jpg");
	background-attachment:fixed;
	margin:0;
}
header{
	display:block;
	text-align:center;
	color:white;
	margin-bottom:30px;
}
header p{
	font-size:20px;
	font-weight:normal;
	margin-top:0;
}
header h1{
	margin-bottom:0;
	font-size: 60px;
	font-weight:700;
}
ul{
	width:100%;
	list-style:none;
}
nav{
	background-color:white;
	width:100%;
	opacity:0.9;
	text-align:center;
	box-sizing:border-box;
	padding:20px;
}
nav::after{
	content:"";
	display:block;
	clear:both;
	height:both;
}
nav li{
	display:inline;
	margin:0;
	padding:20px;
}
nav span{
	display:none;
	font-size:25px;
}
nav button{
	display:none;
}
a,a:active,a:visited{
	text-decoration:none;
	color:rgb(130,130,130);
}
a:hover{
	color:rgb(80,80,80);
}
div{
	background-color:white;
	opacity:0.9;
}
#menu-panel{
	display:none;
}
#menu-panel li{
	padding-top:10px;
	padding-bottom:10px;
}
@media screen and (max-width:1000px){
	header, nav ul{
		display:none;
	}
	nav{
		padding:10px;
		text-align:left;
	}
	nav span{
		display:inline;
		margin-left:10%;
		color:black;
	}
	nav button{
		display:inline;
		float:right;
		background-color:white;
		opacity:0.9;
		color:rgb(130,130,130);
		border:solid rgb(180,180,180) 1px;
		border-radius:5px;
		padding:5px 10px 5px 10px;
		margin-right:20%;
	}
}
